@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  touch-action: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}
